
.tarjeta{
    width:150px;
    height: fit-content;
}
.efectoSombra{
    box-shadow: 0px 4px 1px 1px gray;
}
.cajaDeColorParaCarga{
    width: 150px;
    height: 150px;
}
.cajaColorEnListado{
    width: 80px;
    height: 80px;
    border: solid 1px black;
}